<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="en">Gifty plugin</label>
    <label lang="bg">Gifty плъгин</label>

    <version>1.0.0</version>
    <copyright>Copyright (c) 2022, InLink Ltd.</copyright>
    <author>InLink Ltd.</author>
    <link>http://in-link.com/</link>
    <license>MIT</license>
    <compatibility minVersion="5.4.0" />
    <description lang="en">
        Description
    </description>
    <description lang="bg">
        Описание
    </description>
    <changelog version="1.0.0">
        <changes lang="en">Initial version of plugin;</changes>
        <changes lang="bg">Initial version of plugin;</changes>
    </changelog>
</plugin>
